<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utlis</title>
</head>
<body>
    <h1>Welcome to the Analyzer. Enter your text in below</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 983px; height: 185px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">UPPER CASE <br>
        <input type="checkbox" name="lowercaps">Lower Case <br>

        <button type="submit">Analyzer Text</button>
    </form>
</body>
</html>