    <h1>Welcome to the Analyzer. Enter your text in below</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="margin: 0px; width: 983px; height: 185px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">UPPER CASE <br>
        <input type="checkbox" name="lowercaps">Lower Case <br>
        <input type="checkbox" name="newlineremover">New Line Remover <br>
        <input type="checkbox" name="extraspaceremover">Extra Space Remover <br>
        <button type="submit">Analyzer Text</button>
    </form>